<div class="input-group">
    <input class="form-control"
        [placeholder]="placeholder"
        [ngClass]="ngControl?.valid ? 'ng-valid' : 'ng-invalid'"
        (blur)="onBlur()"
        [ngModel]="value | moment: placeholder"
        (change)="onInputChange($event)"
        [disabled]="disabled"
        [ngbPopover]="calendarContent"
        [autoClose]="'outside'"
        [attr.readonly]="disableUserInput ? 'readonly' : null"
        #p="ngbPopover"
    />
    <div class="input-group-append">
        <button #b class="btn btn-outline-primary" type="button" (click)="p.toggle()" [disabled]="disabled">
            <fa-icon class="me-1" icon="calendar"></fa-icon>
        </button>
    </div>
</div>

<ng-template #calendarContent>
    <div>
        <ngb-datepicker
            #dp
            name="datepicker"
            [(ngModel)]="dateStruct"
            (ngModelChange)="onDateChange()"
            [footerTemplate]="footerTemplate"
            [disabled]="disabled"
            [startDate]="dateStruct"
        ></ngb-datepicker>
    </div>
    <ng-template #footerTemplate>
        <hr class="my-0">
        <ngb-timepicker #tp name="timepicker" [seconds]="true" [size]="'small'" [disabled]="disabled" [(ngModel)]="timeStruct" (ngModelChange)="onTimeChange()"></ngb-timepicker>
    </ng-template>
  </ng-template>