// Css style
$primary-color: #5fd2ff;
$base-color: #e7ff5f;
$text-color:#b75fff;
$text-size: 21px;

.test{
    background-color: $primary-color;
}

.bloque{

    background-color: $base-color;

    &__parte{

        color:chocolate;

    }

}
.text-color-class{
    color:$text-color;
}

.background-color-class{
    background-color: $primary-color;
}

.text-size-class{
    font-size: $text-size;
}

.container-blocks{
    min-width: 100%;
    display: flex;
    box-sizing: border-box;
    align-content: center;
    flex-wrap: wrap;
    justify-content:space-around; 
    
}

.one-block{
    margin: 10px;
    min-width: 18%;
    height: 200px;
    text-align: center;
    background-color: $text-color;
}