<!-- Header -->
<div class="modal-header border-1 justify-content-between text-primary">
    <div class="column text-center">
      <h4 class="modal-title" id="modal-title">
        {{ (model.id===undefined||model.id===null?'i18n.profile.modal.title.new':'i18n.profile.modal.title.edit') | translate }}
      </h4>
    </div>
      <button type="button" class="close border border-white bg-transparent fs-3" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <!-- Body -->
  <div class="modal-body text-center">
    <div class="mx-auto mt-5 ">
      <form [formGroup]="form">
        <div class="row">
            <div class="col-md-6 form-group">
              <label class="me-sm-2" for="name">{{ 'i18n.profile.name' | translate }}</label>
              <div class="input-group mb-2">
                  <input type="text" id="name" required class="form-control" formControlName="name" maxlength="100"/>
              </div>
            </div>
  
            <div class="col-md-6 form-group">
                <label class="me-sm-2" for="description">{{ 'i18n.profile.description' | translate}}</label>
                <div class="input-group mb-2">
                    <input type="text" id="description" required class="form-control" formControlName="description" maxlength="250"/>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3 form-group">
              <div class="form-check form-switch mt-md-4">
                  <input class="form-check-input" type="checkbox" id="defaultEdit" formControlName="default"/>
                  <label class="form-check-label" for="defaultEdit">{{ 'i18n.profile.isDefault' | translate}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group ">
              <label class="me-sm-2" for="authorities">{{ 'i18n.profile.authorities' | translate}}</label>
              <ng-select [multiple]="true" [closeOnSelect]="false" appendTo="body" [hideSelected]="true" [items]="data?.authorities" bindLabel="name"
                 required formControlName="authorities" placeholder="{{ 'combo.select' | translate }}">
              </ng-select>
            </div>
          </div>
      </form>
    </div>
  </div>
  <!-- Footer -->
  <div class="modal-footer border-0 justify-content-end">
    <app-modal-button [buttons]="getButtons()" [form]="form"></app-modal-button>
  </div>
  