<div class="mx-auto mt-5 ">
    <app-collapse [name]="'i18n.auditPage.filters'">
        <form [formGroup]="form" (submit)="onSearch()">
            <fieldset class="form-group">
                <legend>{{ 'i18n.validation.record.one.required' | translate }}</legend>
                <div class="row">
                    <div class="col-md-6 col-lg-3 form-group">
                        <label class="me-sm-2" for="table">{{ 'i18n.auditPage.filters.table' | translate }}</label>
                        <ng-select [multiple]="false" [closeOnSelect]="true" appendTo="body" [hideSelected]="true" [items]="data?.tables" bindLabel="name"
                              formControlName="table" placeholder="{{ 'combo.select' | translate }}">
                          </ng-select>
                      </div>

                      <div class="col-md-6 col-lg-3 form-group">
                        <label class="me-sm-2" for="requestId">{{ 'i18n.auditPage.filters.requestId' | translate}}</label>
                        <div class="input-group mb-2">
                            <input type="text" id="requestId" class="form-control" formControlName="requestId" maxlength="36"/>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-md-6 col-lg-3 form-group">
                    <label class="me-sm-2" for="action">{{ 'i18n.auditPage.filters.action' | translate }}</label>
                    <ng-select [multiple]="false" [closeOnSelect]="true" appendTo="body" [hideSelected]="true" [items]="data?.actions" bindLabel="name"
                        formControlName="action" placeholder="{{ 'combo.select' | translate }}">
                    </ng-select>
                </div>

                <div class="col-md-6 col-lg-3 form-group">
                    <label class="me-sm-2" for="user">{{ 'i18n.auditPage.filters.user' | translate}}</label>
                    <div class="input-group mb-2">
                        <input type="text" id="user" class="form-control" formControlName="user" maxlength="10"/>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 form-group">
                    <label class="me-sm-2" for="created">{{ 'i18n.auditPage.filters.created' | translate}}</label>
                    <app-datetimepicker formControlName="created"></app-datetimepicker>
                </div>

                <div class="col-md-6 col-lg-3 form-group">
                    <label class="me-sm-2" for="pairKey">{{ 'i18n.auditPage.filters.pairKey' | translate}}</label>
                    <div class="input-group mb-2">
                        <input type="text" id="pairKey" class="form-control" formControlName="pairKey" maxlength="36"/>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-12 text-end">
                    <button type="reset" class="btn btn-nc btn-outline-primary">
                        <fa-icon class="me-1" icon="times"></fa-icon>
                        {{'button.clear' | translate}}
                    </button>   
                    <button type="submit" class="btn btn-nc btn-outline-primary ms-1" [disabled]="form.invalid">
                        <fa-icon class="me-1" icon="search"></fa-icon>
                        {{'button.search' | translate}}
                    </button>   
                </div>
              </div>
        
        </form>
    </app-collapse>

    <ng-template #dateColumn let-row="row" let-value="value" let-i="index">
        {{ value | date: "dd-MM-yyyy HH:mm:ss" }}
    </ng-template>

    <app-collapse [name]="'i18n.auditPage.records'">
        <app-table *ngIf="data !== undefined"
            [page]="page"
            [columns] = "getColumnModel()"
            [buttons] = "getButtons()"
            (changed)="onSearch()">
        </app-table>
    </app-collapse>
</div>